# All settings are prefixed VOL_ and read by pydantic-settings.
VOL_BIN=vol
VOL_IMAGE_DIR=./images
VOL_OUTPUT_DIR=./dumps
# VOL_SYMBOL_DIR=./symbols
VOL_RULES_DIR=./rules
VOL_TIMEOUT=900
VOL_WORKERS=2
VOL_HOST=127.0.0.1
VOL_PORT=8799
VOL_OFFLINE=true
VOL_RATE_LIMIT_PER_MINUTE=60
VOL_LOG_LEVEL=INFO
